# ====================
# Python bytecode
# ====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/

# ====================
# Virtualenv (poetry or venv)
# ====================
.venv/

# ====================
# Poetry files (optional to exclude lock)
# ====================
poetry.lock

# ====================
# IDE / Editor configs
# ====================
.vscode/
.idea/

# ====================
# OS system files
# ====================
.DS_Store
Thumbs.db

# ====================
# Log files
# ====================
logs/
*.log

# ====================
# Documentation
# ====================
doc/

# ====================
# Build artifacts
# ====================
build/
dist/
*.egg-info/

# ====================
# Coverage reports
# ====================
.coverage
htmlcov/

# ====================
# Examples temporary runtime files
# ====================
examples/tmp_*

# ====================
# Environment configuration files
# ====================
.env
.env.dev

# other file
README-REPO-NAME.md
CLAUDE.md