# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Virtualenv
.venv/
.env.dev
.env

# Poetry
# (If Poetry creates any cache or virtualenv metadata)
poetry.lock

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# doc
doc/

# Build & dist
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Examples runtime temp
examples/tmp_*
